<html lang="en">
    <head>
        <title>Candy Shop</title>
    </head>
    <body style="background-color: lightblue;">
        <h1>Candy Shop</h1>
            <a href="{{ url_for('home')}}">Home page</a> || <a href="{{ url_for('basket')}}">Basket</a> || <a href="{{ url_for('admin_page')}}">Admin</a>
        <br>
        <h3>Add a new Item</h3>
        <form method="POST" action="/admin_page">
            <input type="text" name="item_name" placeholder="Enter candy name"> 
            <input type="number" name="price" placeholder="Enter price"> 
            <input type="text" name="description" placeholder="Enter candy description"> 
            <input type="number" name="quantity" placeholder="Enter candy quantity">             
            <input type="submit" value="Add to shop">
            <br>
        </form>
        <h3>List of current items</h3>
        {% for item in allItems %}
        <p>{{item.item_name}}</p>
        <form method="POST" action="/update_quantity">
            <input type="hidden" value="{{item.quantity}}" name="oldquantity">
            <input type="number" value="{{item.quantity}}" name="newquantity">
            <input type="submit" value="Update quantity">
        </form>
        <form method="POST" action="/delete_item">
            <input type="hidden" value="{{item.item_name}}" name="item_name">
            <input type="submit" value="Delete">
          </form>
          <br>
        {% endfor %}
    </body>
</html>
